<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django crud</title>
</head>
<body>
    <nav>
        <ol>
            <li>
                <a href="/">home</a>
            </li>
            
            

            {% if user.is_authenticated %}
            <li>
                <a href="/tasks/">tasks pending</a>
            </li>
            <li>
                <a href="{% url 'tasks_finished' %}">tasks finished</a>
            </li>
            <li>
                <a href="/logout">logout</a>
            </li>
            <li>
                <a href="/task/create/">create taks</a>
            </li>
            
            {% else %}
            <li>
                <a href="/signup">signup</a>
            </li>
            <li>
                <a href="/login">login</a>
            </li>
            {% endif %}
        </ol>




    </nav>


    {% block content %} 
    {% endblock %} 
</body>
</html>